<ion-content color="dark">
    <ion-item color="dark">test</ion-item>
    <ion-item color="dark">test2</ion-item>
    <ion-item color="dark">test3</ion-item>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-input
      name="message"
      placeholder="Type to chat"
      autocorrect="on"
      autofocus
      clear-input
      required
      spellcheck
      maxLength=1000>
    </ion-input>
  </ion-toolbar>
</ion-footer>
