<ion-app>
  <ion-menu swipe-gesture max-edge-start=1000 type="push" side="start" menuId="nav">
    <ion-content padding color="medium">
      <ion-fab>
        <div *ngFor="let p of pages">
          <ion-fab-button name="[p.url]" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="light" [name]="p.icon" *ngIf="p.icon; else elseBlock"></ion-icon>
            <ng-template #elseBlock>
              <ion-avatar>
                <ion-img src="http://lorempixel.com/96/96"></ion-img>
              </ion-avatar>
            </ng-template>
          </ion-fab-button>
        </div>
      </ion-fab>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
