<ion-app>
  <ion-menu swipe-gesture max-edge-start=1000 type="push" side="start" menuId="nav">
    <ion-content padding color="medium">
      <ion-menu-toggle padding auto-hide="false" *ngFor="let p of pages">
        <ion-avatar color="secondary" [routerDirection]="'root'" [routerLink]="[p.url]">
          <div *ngIf="p.icon; else elseBlock">
            <ion-icon color="secondary" slot="start" [name]="p.icon"></ion-icon>
          </div>
          <ng-template #elseBlock>
            <ion-img src="http://lorempixel.com/640/360"></ion-img>
          </ng-template>
        </ion-avatar>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
